<div class='col-xxl-2 col-xl-2half col-lg-3 col-sm-4 col-6 mb-5'>
  <%= link_to movie_path(credit.id) do %>
    <img class="card-img-top img-fluid" src="<%= configurations_base_url %>original<%=credit.poster_path%>" onerror="this.onerror=null; this.src='/assets/movie1-02.jpg'">
    <div class='text-center'>
      <p class='font-weight-normal fs-130 fs-lg-115 fs-md-105 mb-1'>
        <%= credit.title %>
      </p>
      <% if credit.class.method_defined? :character and not credit.character.nil?%>
        <span class='dark-64 font-weight-light fs-lg-100 fs-md-094'><%= credit.character %></span>
      <% else %>
        <span class='dark-64 font-weight-light fs-lg-100 fs-md-094'><%= credit.job %></span>
      <% end %>
    </div>
  <% end %>
</div> 
