<div class='container pt-6'>
  <section class='show-section person-header mb-9'>
    <h1 class='display-4 mb-5'>
      <%= @person.name %>
    </h1>

    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-11'>
            <p class='overview mb-4'>
              <%= @person.biography %>
            </p>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Known for</p>
            <span class='featured-data'><%= @person.known_for_department %></span>
          </div>
 
          <% if not @person.birthday.nil? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Birthday</p>
            <span class='featured-data'><%= @person.birthday.to_time.strftime("%B %e, %Y") %></span>
          </div>
          <% end %>

          <% if not @person.deathday.nil? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Deathday</p>
            <span class='featured-data'><%= @person.deathday.to_time.strftime("%B %e, %Y") %></span>
          </div>
          <% end %>

          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Gender</p>
            <span class='featured-data'><%= @person.gender_to_str %></span>
          </div>

          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Known Movie Credits</p>
            <span class='featured-data'><%= @person.known_credits %></span>
          </div>

          <% if not @person.place_of_birth.nil? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Place of birth</p>
            <span class='featured-data'>
              <%= @person.place_of_birth %>
            </span>
          </div>
          <% end %>

          <% if @person.also_known_as.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Also known as</p>
            <span class='featured-data'>
              <%= @person.also_known_as.join(", ") %>
            </span>
          </div>
          <% end %> 
        </div>
      </div>

      <div class='col-md-4 text-center'>
        <%= person_header_profile_image(@person) %>
      </div>
    </div>
  </section>

	<%= render '/people/tabs' %>
</div>

