<section class='home-section pt-6 pb-6'>
  <div class='row align-items-center'>
    <div class='col-8'>
      <h1 class='display-5'><%= section %></h1>
    </div>
    <div class='col text-right justify-content-center'>
      <%= link_to discover_path(section.downcase.gsub(/\s+/, "-")), class: 'btn btn-text font-weight-600 arrow-link' do %>
        <svg>
	  <g>
	    <line y1="31.28" x2="227.62" y2="31.28"></line>
	    <polyline points="222.62 25.78 228.12 31.28 222.62 36.78"></polyline>
	    <circle cx="224.67" cy="30.94" r="30.5" transform="rotate(180 224.67 30.94) scale(1, -1) translate(0, -61)"></circle>
          </g>
        </svg>
        <font>View all</font>
      <% end %>
    </div>
  </div>
 
  <div class='row'>
    <% home_collection(section).each do |movie| %>
    <div class='col-md-4 movie-poster-item'>
      <div class='position-relative movie-poster-container'>
        <%= link_to '', movie_path(movie.id), class: 'movie-link' %>
	<img src="<%= configurations_base_url %>w500<%=movie.poster_path%>" class='img-fluid'>
          <div class='movie-meta'>
            <h5 class='line-clamp line-clamp-3' ><%=movie.title%></h5>
            <p><%=movie.status%></p>
          </div>
          <% if movie.trailers? %>
          <ul class='movie-actions'>
          <li class='trailer-btn video-toggle transition-color-03' data-toggle="modal" data-src="https://www.youtube.com/embed/<%= movie.get_a_trailer.key %>" data-target='#videoModal'>
            <span>
              <%= inline_svg 'baseline-play_circle_filled'%>
            </span>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</section>
