<div class="carousel-item <%='active' if index == 0%>" style="background-image: url(<%=configurations_base_url%>/original/<%=movie.backdrop_path%>);">
  <div class='carousel-item-overlay'>
  </div>

	<div class='film-info'>
    <%= link_to movie_path(movie.id) do %>
      <h1 class='film-title line-clamp line-clamp-5'><%= movie.title %></h1>
		  <h3 class='film-secondary-info'><%= movie.tagline %></h3>
    <% end %>
    <span class='film-genres'>
      <% movie.genres.first(3).each do |genre| %>
      <a href='#'><%= genre.name %></a>
      <% end %>
    </span>
	</div>

  <div class='film-buttons'>

    <% if not movie.homepage.nil? %>
    <!-- Shop Button -->
	  <%= link_to movie.homepage, class: 'btn btn-lg film-button transition-color-03', target: :_blank do %>
		  <span class='svg-icon svg-baseline'>
		    <%= inline_svg 'baseline-home.svg', class: 'film-btn-svg' %>
			</span>
			<span class='film-btn-text'>
			  Visit official site
			</span>
		<% end %>
    <% end %>


    <% if movie.trailers? %>
    <!-- Trailer Button -->
	  <span class='btn btn-lg film-button trailer-btn video-toggle transition-color-03' data-toggle="modal" data-src="https://www.youtube.com/embed/<%= movie.get_a_trailer.key %>" data-target='#videoModal'>
		  <span class='svg-icon svg-baseline'>
				<%= inline_svg 'baseline-play_arrow.svg', class: 'film-btn-svg' %>
		  </span>
			<span class='film-btn-text'>
			  Watch trailer
			</span>
		</span>
    <% end %>

    <div class='film-social-btns pt-3 transition-color-03'>
    <% if movie.has_facebook? %>
		  <%= link_to movie.facebook_url, target: :_blank do %>
        <%= inline_svg 'facebook-logo.svg', class: 'film-btn-svg' %>
			<% end %>
		<% end %>

		<% if movie.has_twitter? %>
		  <%= link_to movie.twitter_url, target: :_blank do %>
        <%= inline_svg 'twitter-logo.svg', class: 'film-btn-svg' %>
			<% end %>
		<% end %>

		<% if movie.has_instagram? %>
		  <%= link_to movie.instagram_url, target: :_blank do %>
        <%= inline_svg 'instagram-logo.svg', class: 'film-btn-svg' %>
			<% end %>
		<% end %>
		</div>
  </div>
</div>
