<ul class="nav nav-tabs" id="movieTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cast-tab" data-toggle="tab" href="#cast" role="tab" aria-controls="cast" aria-selected="false">Cast</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="crew-tab" data-toggle="tab" href="#crew" role="tab" aria-controls="crew" aria-selected="false">Crew</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">Images</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="false">Videos</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active pt-5" id="all" role="tabpanel" aria-labelledby="all-tab">
    <%= render partial: '/movies/all_tab', locals: { movie: @movie } %>
	</div>
  <div class="tab-pane fade" id="cast" role="tabpanel" aria-labelledby="cast-tab">
    <section class='show-section cast-section mb-9'>
      <div class='card-columns card-columns-4'>
        <% @movie.cast.each do |cast_member| %>
          <%= render partial: '/movies/person_tab_item', locals: { person: cast_member } %>
        <% end %>
      </div>
    </section>
  </div>
	<div class="tab-pane fade" id="crew" role="tabpanel" aria-labelledby="crew-tab">
    <section class='show-section crew-section mb-9'>
      <div class='card-columns card-columns-4'>
        <% @movie.crew.each do |crew_member| %>
          <%= render partial: '/movies/person_tab_item', locals: { person: crew_member } %>
        <% end %>
      </div>
    </section>
  </div>
  <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
    <div class='card-columns card-columns-4'>
    <% @movie.images.each do |image| %>
    <div class='card'>
      <img class="card-img-top img-fluid" src="<%= configurations_base_url %>original<%=image.file_path%>" data-holder-rendered="true">
    </div>
    <% end %>
  </div>

  </div>
	<div class="tab-pane fade pt-5" id="videos" role="tabpanel" aria-labelledby="videos-tab">
    <div class='row'>
      <% @movie.videos.each do |video| %>
      <div class='col-sm-6 col-md-4 mb-4'>
      <div class='card video-card video-toggle' data-toggle="modal" data-src="https://www.youtube.com/embed/<%= video.key %>" data-target='#videoModal' >
        <div class='position-relative video-card-img-container'>
          <img class="card-img-top img-fluid" src="https://img.youtube.com/vi/<%=video.key%>/maxresdefault.jpg" data-holder-rendered="true">
          <div class='video-btn transition-color-03'>
            <span>
              <%= inline_svg 'baseline-play_circle_filled'%>
            </span>
          </div>
        </div>
        <div class='card-body'>
          <h5 class='card-title'><%= video.name %></h5>
        </div>
      </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
