<div class='container-fluid max-width-94'>
  <section class='genre-header mb-6'>
    <h1 class='display-4 mb-4 fancy-display'>
      <%= @collection_name %>
    </h1>
  </section>


  <section class='movies-list' >
    <div class='row mb-4 justify-content-start align-items-center'>
      <div class='flex-basis-250px mr-2 pt-2 pb-2'>
        <div class='layout-toggles d-flex align-items-center'>
          <span class='pl-8 pr-8 text-center font-weight-normal dark-54 flex-basis-60px'>View</span>
          <div class='custom-select1 d-inline-block width-200px' data-view="poster-compact">
            <select class="layout-toggles-select">
              <option data-layout-option="poster-compact" value="0" selected>Poster compact</option>
              <option data-layout-option="backdrop-compact" value="1">Backdrop compact</option>
              <option data-layout-option="poster-with-overview" value="2">Compact overview</option>
              <option data-layout-option="full-width-overview" value="3">Full width overview</option>
            </select>
          </div>
        </div>
      </div>
    </div>


    <div class='row infinite-scroll' id='movies-row' data-page=1 data-list="collection" data-collection="<%=@collection_name.downcase.gsub(" ", "_")%>">
      <% @movies.each do |movie| %>
        <div class='col-xxl-2 col-xl-2half col-lg-3 col-sm-4 col-6 mb-4 movie-list-item'>
          <div class='movie-poster-item'>
            <div class='position-relative movie-poster-container'>
            <%= link_to '', movie_path(movie.id), class: 'movie-link' %>
              <img src="<%= configurations_base_url %>original<%=movie.backdrop_path%>" class='img-fluid d-none' data-image-type='backdrop' onerror="this.onerror=null; this.src='/assets/backdrop_default.jpg'">
	      <img src="<%= configurations_base_url %>w500<%=movie.poster_path%>" class='img-fluid' data-image-type='poster' onerror="this.onerror=null; this.src='/assets/movie1-02.jpg'">
              <div class='movie-meta'>
                <h5 class='line-clamp line-clamp-3' ><%=movie.title%></h5>
              </div>
              <% if movie.trailers? %>
              <ul class='movie-actions'>
                <li class='trailer-btn video-toggle transition-color-03' data-toggle="modal" data-src="https://www.youtube.com/embed/<%= movie.get_a_trailer.key %>" data-target='#videoModal'>
                  <span>
                    <%= inline_svg 'baseline-play_circle_filled'%>
                  </span>
                </li>
              </ul>
              <% end %>
            </div>
          </div>
          <div class='movie-list-item-body text-center'>
            <p class='font-weight-normal fs-105 mb-0 movie-title'>
              <%= movie.title %>
            </p>
            <span class="dark-64 font-weight-light fs-094 movie-release-date">
              <%= movie.release_date.to_time.strftime("%B %e, %Y") %>
            </span>
            <p class='font-weight-normal d-none dark-68 movie-overview line-clamp mt-3'>
              <%= movie.overview %>
            </p>
          </div>
  	</div>
      <% end %>
    </div>
  </section>
</div>


