<div class='container pt-6'>
  <section class='show-section movie-header mb-9'>
    <h1 class='display-4 mb-5'>
      <%= @movie.title %>
    </h1>

    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-11'>
            <p class='overview mb-4'>
              <%= @movie.overview %>
            </p>
          </div>
        </div>
        <div class='row'>
          <% if @movie.directed_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Directed by</p>
            <span class='featured-data'><%= @movie.directed_by.map { |director| director.name }.join(", ") %></span>
          </div>
          <% end %>
 
          <% if @movie.written_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Written by</p>
            <span class='featured-data'><%= @movie.written_by.map { |writer| writer.name }.join(", ") %></span>
          </div>
          <% end %>

          <% if @movie.screenplay_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Screenplay by</p>
            <span class='featured-data'><%= @movie.screenplay_by.map { |writer| writer.name }.join(", ") %></span>
          </div>
          <% end %>

          <% if @movie.story_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Story by</p>
            <span class='featured-data'><%= @movie.story_by.map { |writer| writer.name }.join(", ") %></span>
          </div>
          <% end %>

          <% if not @movie.runtime.nil? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Runtime</p>
            <span class='featured-data'>
              <%= @movie.runtime %> min
            </span>
          </div>
          <% end %>

          <% if not @movie.rating.nil? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Rating</p>
            <span class='featured-data'>
              <%= @movie.rating %>
            </span>
          </div>
          <% end %>

          <% if not @movie.release_date.nil? and not @movie.release_date.empty? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Release Date</p>
            <span class='featured-data'>
              <%= @movie.release_date.to_time.strftime("%B %e, %Y") %>
            </span>
          </div>
          <% end %>

          <% if not @movie.status.nil? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Status</p>
            <span class='featured-data'>
              <%= @movie.status %>
            </span>
          </div>
          <% end %>

        </div>
      </div>

      <div class='col-md-4 text-center'>
        <%=movie_header_poster_image(@movie.poster_path)%>
      </div>
    </div>
  </section>

	<%= render '/movies/tabs' %>
</div>

<%= render '/movies/video_modal' %>
<%= render '/layouts/search_overlay' %>
