<div class='container pt-6'>
  <section class='movie-header'>
    <h1 class='display-5 mb-5'>
      <%= @movie.title %>
    </h1>

    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-11'>
            <p class='overview mb-4'>
              <%= @movie.overview %>
            </p>
          </div>
        </div>
        <div class='row'>
          <% if @movie.directed_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Directed by</p>
            <span class='featured-data'><%= @movie.directed_by.map { |director| director.name }.join(", ") %></span>
          </div>
          <% end %>
 
          <% if @movie.written_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Written by</p>
            <span class='featured-data'><%= @movie.written_by.map { |writer| writer.name }.join(", ") %></span>
          </div>
          <% end %>

          <% if @movie.screenplay_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Screenplay by</p>
            <span class='featured-data'><%= @movie.screenplay_by.map { |writer| writer.name }.join(", ") %></span>
          </div>
          <% end %>

          <% if @movie.story_by.any? %>
          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Story by</p>
            <span class='featured-data'><%= @movie.story_by.map { |writer| writer.name }.join(", ") %></span>
          </div>
          <% end %>

          <div class='col-md-4 mb-4'>
            <p class='lead1 featured-data-cat'>Runtime</p>
            <span class='featured-data'>
              <%= @movie.runtime %> min
            </span>
          </div>
          <div class='col-md-4 mb-4'>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
        <img src="<%= configurations_base_url %>w500<%= @movie.poster_path %>" class='img-fluid'>
      </div>
    </div>
  </section>
</div>
