<nav class='navbar <%= navbar_class %> fixed-top navbar-expand-lg'>
  <div class='container'>  
    <span class='nav-item' onclick="toggleSidenav()">
      <%= inline_svg 'outline-category.svg' %>
    </span>

    <span class='nav-item'>
      <%= link_to root_path do %>
        <%= inline_svg 'outline-home.svg' %>
      <% end %>
    </span>

    <span class='nav-item' onclick="openNav()">
      <%= inline_svg 'baseline-search.svg', class: 'pointer nav-search' %>
    </span>  
  </div>
</nav>
